@import './common/import';

.wrap{
    min-width: 320px;
}

.header_top{
    border-bottom: 1px solid #ededed;

    .header_title{
        display: inline-block;
        vertical-align: top;
        font-size: 0px;

        .link_naver{
            @include get_sprite($img1, 0.5);
            display: inline-block;
            vertical-align: top;
        }

        .link_novel{
            @include get_sprite($img2, 0.5);
            display: inline-block;
            vertical-align: top;
            margin: 13px 0 0 10px;
        }

        .line{
            @include get_sprite($img3, 0.5);
            display: inline-block;
            vertical-align: top;
            margin: 16px 0 0 10px;
        }

        .link_toon{
            @include get_sprite($img4, 0.5);
            display: inline-block;
            vertical-align: top;
            margin: 14px 0 0 6px;
        }
    }

    .header_etc{
        float: right;
        margin-right: 15px;

        .find{
            @include get_sprite($img5, 0.5);
            display: inline-block;
            vertical-align: top;
            margin: 14px 0 0 10px;
        }
        .my_page{
            @include get_sprite($img6, 0.5);
            display: inline-block;
            vertical-align: top;
            margin: 16px 0 0 6px;
        }
    }

    &:after{
        @include virtual_float_clear();
    }
}

.header_menu{
    text-align: center;
    border-bottom: 1px solid #ededed;

    .menu{
        float: left;

        .link{
            display: block;
            padding: 10px 5px;
        }

        .menu_title{
            
            padding: 0 5px 9px;
            font-size: 12px;
            font-weight: bold;
        }
    }

    .menu.home{
        width: 15%;
    }
    .menu.novel{
        width: 30%;
    }
    .menu.best{
        width: 27.5%;
    }
    .menu.challenge{
        width: 27.5%;
    }

    &:after{
        @include virtual_float_clear();
    }

    .menu.select{
        .link{
            color: #35c1f9;
        }

        .menu_title{
            border-bottom: 2px solid #35c1f9;
        }
    }
}

.banner_wrap{
    background-color: #27203a;
    
    .banner{
        display: block;
        max-width: 640px;
        margin: 0 auto;
        .img{
            vertical-align: top;
            width: 100%;
        }
    }
}

.ranking_wrap{
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 15px;
}

.ranking_area{
    position: relative;

    .title{
        font-size: 13px;
        line-height: 40px;
        color: #000;
        float: left;
    }

    .preview_wrap{
        display: none;
        padding: 0 60px 0 30px;
        overflow: hidden;
    }

    .preview_wrap.open{
        display: block;
    }

    .preview{
        position: relative;

        .rank{
            @include get_sprite($img13, 0.5);
            position: absolute;
            top: 14px;
            left: -17px;
        }
    
        .value{
            font-weight: normal;
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 40px;
        }
    
        .offset_wrap{
            position: absolute;
            top: 0;
            right: -30px;
            .offset_flag{
                display: inline-block;
                vertical-align: top;
                margin-top: 16px;
            }

            .offset_value{
                display: inline-block;
                vertical-align: top;
                margin-top: 14px;
                font-size: 13px;
                color: #888;
                width: 16px;
                overflow: hidden;
                text-align: right;
            }
        }

        .offset_wrap.up{
            .offset_flag{
                @include get_sprite($img14, 0.5);
            }
        }

        .offset_wrap.down{
            .offset_flag{
                @include get_sprite($img16, 0.5);
            }
        }

        .offset_wrap.same{
            .offset_flag{
                @include get_sprite($img15, 0.5);
            }
        }
    }

    .arrow{
        position: absolute;
        top: 17px;
        right: 0;
        @include get_sprite($img8, 0.5);
    }

    &::after{
        @include virtual_float_clear();
    }
}

.ranking_list{
    display: none;
}

.ranking_list.open{
    display: block;

    &::after{
        @include virtual_float_clear();
    }
}

.element_rank{
    float: left;
    position: relative;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #f5f4f5;

    .rank{
        position: absolute;
        top: 12px;
        left: 3px;
    }

    .value_wrap{
        padding: 0 50px 0 20px;
        .value{
            font-weight: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
        }
    }

    .offset_wrap{
        position: absolute;
        top: 0;
        right: 0;
        .offset_flag{
            display: inline-block;
            vertical-align: top;
            margin-top: 14px;
        }

        .offset_value_wrap{
            position: absolute;
            top: 0;
            right: 0;
        }

        .offset_value{
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            font-size: 13px;
            color: #888;
            width: 16px;
            overflow: hidden;
            text-align: right;
        }
    }

    .offset_wrap.up{
        .offset_flag{
            @include get_sprite($img14, 0.5);
        }
    }

    .offset_wrap.down{
        .offset_flag{
            @include get_sprite($img16, 0.5);
        }
    }

    .offset_wrap.same{
        .offset_flag{
            @include get_sprite($img15, 0.5);
        }
    }

    &.first{
        .rank{
            @include get_sprite($img9, 0.5);
        }
    }

    &.second{
        .rank{
            @include get_sprite($img10, 0.5);
        }
    }

    &.third{
        .rank{
            @include get_sprite($img11, 0.5);
        }
    }

    &.fourth{
        .rank{
            @include get_sprite($img12, 0.5);
        }
    }

    &.fifth{
        .rank{
            @include get_sprite($img13, 0.5);
        }
    }
}

.survey_wrap{
    background-color: #f4f4f4;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 15px 10px;

    .sort_list{
        float: right;
        font-size: 12px;
        color: #666;

        &::after{
            @include virtual_float_clear();
        }
    }

    &::after{
        @include virtual_float_clear();
    }

    .sort_element{
        float: left;

        & + .sort_element{
            margin-left: 10px;

            &::before{
                content: '';
                display: inline-block;
                vertical-align: top;
                border-radius: 50%;
                margin: 6px 10px 0 0;
                border: 1px solid #666;
            }
        }

        &.select{
            font-weight: bold;
            color: #000;

            &::before{
                content: '';
                display: inline-block;
                vertical-align: top;
                margin: 4px 5px 0 0;
                @include get_sprite($img24, 0.5);
                border: 0;
            }
        }
    }
}