/* TODO
 1. 대체 텍스트 삽입
 2. 해상도 대응
 */

@charset "UTF-8";

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.wrap{
    position: relative;
    height: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 66px;
    background-color: rgba(64, 64, 64, 0.75);
}

.header .link{
    display: block;
}

.header .logo{
    vertical-align: top;
}

.content{
    
}

.content:after{
    clear: both;
    display: block;
    content: '';
}

.section{
    float: left;
    width: 100%;
}

.section .bg_pivot{
    height: 100%;
    margin: 0 auto;
}

.invite{
    height: 750px;
}

.invite .bg_pivot{
    max-width: 1920px;
}

.invite .bg{
    max-width: 1920px;
}

.section .bg{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
}

.invite .bg{
    background-image: url(../image/section_invite.jpg);
}

.creator{
    height: 822px;
    background-color: #f9939d;
}

.creator .bg_pivot{
    max-width: 980px;
}

.creator .bg{
    background-image: url(../image/section_creator.jpg);
}

.store{
    height: 1084px;
}

.store .bg_pivot{
    max-width: 1920px;
}

.store .bg{
    background-image: url(../image/section_store.jpg);
}

.store .pivot{
    width: 1000px;
    margin: 0 auto;
}

.store .list{
    padding-top: 300px;
}

.store .list:after{
    content: '';
    clear: both;
    display: block;
}

.store .element{
    float: left;
    width: 230px;
    margin-right: 20px
}

.store .link{
    position: relative;
    display: block;
    height: 230px;
}

.store .info_sale{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 132, 2, 0.9);
    color: #fff;
    text-align: center;
}

.store .info_sale .percent{
    display: block;
    font-size: 65px;
    margin-top: 60px;
}

.store .info_sale .time{
    font-size: 20px;
}

.store .link:hover .info_sale,
.store .link:focus .info_sale{
    display: block;
}

.store .link .img{
    vertical-align: top;
    border-radius: 10px;
}

.store .info{
    height: 140px;
    text-align: center;
}

.store .info .name{
    padding: 15px 10px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.store .info .price{
    font-weight: bold;
}

.recipe{
    height: 1030px;
    background-color: #b893f9;
}

.creator .bg_pivot{
    max-width: 980px;
}

.creator .bg{
    background-image: url(../image/section_creator.jpg);
}

.footer{

}

.btn_top{
    display: none;
}

@media screen and (min-width: 1920px){
    .invite{
        background-color: #fff;
    }
}